/* 검색 */

.search {
  position: absolute;
  width: 1713px;
  height: 278px;
  left: 100px;
  top: 100px;
}
/* Group 19 */

.search_group_19 {
  position: absolute;
  width: 1713px;
  height: 315px;
  left: 1px;
  top: 60px;

  background-color: yellow;
}

/* Rectangle 25 */

.search_rec_25 {
  box-sizing: border-box;

  position: absolute;
  width: 140px;
  height: 55px;
  left: 800px;
  top: 268px;
  background: #ffffff;
  border: 2px solid #6c6c6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  cursor: pointer; /* Change cursor to pointer on hover */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */

  color: #6c6c6c;
}

/* 검색 */

.search_2 {
  position: absolute;
  width: 140px;
  height: 51px;
  left: 35px;
  top: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #6c6c6c;
}

/* Group 22 */

.search_group_22 {
  position: absolute;
  width: 1713px;
  height: 260px;
  left: 1px;
  top: 50px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Group 18 */

.search_group_18 {
  position: absolute;
  width: 1713px;
  height: 260px;
  left: 1px;
  top: 1px;
}

/* Rectangle 23 */

.search_rec_23 {
  box-sizing: border-box;

  position: absolute;
  width: 1713px;
  height: 260px;
  left: 1px;
  top: 1px;

  background: #ffffff;
  border: 2px solid #6c6c6c;
  border-radius: 15px;
}

/* Line 1 */

.search_line_1 {
  position: absolute;
  width: 1709.12px;
  height: 0px;
  left: 3spx;
  top: 65px;

  border: 2px solid #d9d9d9;
}

/* Line 2 */

.search_line_2 {
  position: absolute;
  width: 1709.12px;
  height: 0px;
  left: 3px;
  top: 135px;

  border: 2px solid #d9d9d9;
}

.search_line_2_1 {
  position: absolute;
  width: 1709.12px;
  height: 0px;
  left: 3px;
  top: 198px;

  border: 2px solid #d9d9d9;
}
/* Group 8 */

.search_group_8 {
  position: absolute;
  width: 158px;
  height: 40px;
  left: 800px;
  top: 150px;
}

/* Rectangle 24 */

.search_rec_24 {
  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  cursor: pointer; /* Change cursor to pointer on hover */

  color: #6c6c6c;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.search_rec_24.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}
/* Group 15 */
.search_group_15 {
  position: absolute;
  width: 158px;
  height: 40px;
  left: 550px;
  top: 150px;
}

/* Rectangle 24 */

.search_rec_24_1 {
  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  cursor: pointer; /* Change cursor to pointer on hover */

  color: #6c6c6c;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.search_rec_24_1.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}

/* Group 21 */

.search_group_21 {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 550px;
  top: 13px;
}

/* 📅 */

.search_calender {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 1px;
  top: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c6c6c;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

/* Rectangle 24 */

.search_rec_24_3 {
  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

/* Group 20 */

.search_group_20 {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 1000px;
  top: 13px;
}

/* 📅 */

.search_calender_2 {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 1px;
  top: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c6c6c;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

/* Rectangle 24 */

.search_rec_24_4 {
  box-sizing: border-box;

  position: absolute;
  width: 165px;
  height: 40px;
  left: 1px;
  top: 1px;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

/* Line 3 */

.search_line_3 {
  position: absolute;
  width: 256px;
  height: 0px;
  left: 225px;
  top: 130px;

  border: 2px solid #d9d9d9;
  transform: rotate(90deg);
}

/* 기간 설정 */

.search_time_setting {
  position: absolute;
  width: 277.74px;
  height: 37px;
  left: 70px;
  top: 13px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 배터리 유형 */

.search_battery_faulty_type {
  position: absolute;
  width: 277.74px;
  height: 37px;
  left: 70px;
  top: 150px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.search_battery_type {
  position: absolute;
  width: 277.74px;
  height: 37px;
  left: 70px;
  top: 85px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
/* 카메라 번호 */

.search_camera_num {
  position: absolute;
  width: 277.74px;
  height: 37px;
  left: 70px;
  top: 210px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* Group 8 */

.search_group_8_1 {
  position: absolute;
  width: 165px;
  height: 40px;
  left: 800px;
  top: 80px;
}

/* Rectangle 24 */

.search_rec_24_6 {
  box-sizing: border-box;

  position: absolute;
  width: 165px;
  height: 40px;
  left: 1px;
  top: 1px;

  cursor: pointer; /* Change cursor to pointer on hover */

  color: #6c6c6c;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.search_rec_24_6.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}

/* Group 17 */

.search_group_17 {
  position: absolute;
  width: 165px;
  height: 40px;
  left: 550px;
  top: 80px;
}

/* Rectangle 24 */

.search_rec_24_7 {
  box-sizing: border-box;

  position: absolute;
  width: 165px;
  height: 40px;
  left: 1px;
  top: 1px;

  cursor: pointer; /* Change cursor to pointer on hover */

  color: #6c6c6c;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.search_rec_24_7.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}

/* Group 11 */

.search_group_11_1 {
  position: absolute;
  width: 165px;
  height: 40px;
  left: 1040px;
  top: 210px;
}

/* 3 */

.search_3 {
  position: absolute;
  width: 165px;
  height: 40px;
  left: 1px;
  top: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c6c6c;
}

/* Rectangle 24 */

.search_rec_24_9 {
  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  color: #6c6c6c;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;
  cursor: pointer; /* Change cursor to pointer on hover */

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background-color: white; /* 기본 배경색 설정 */
}

.search_rec_24_9.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}
/* Group 16 */

.search_group_16 {
  position: absolute;
  width: 158px;
  height: 40px;
  left: 800px;
  top: 210px;
}

/* 2 */

.search_2_1 {
  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c6c6c;
}

/* Rectangle 24 */

.search_rec_24_10 {
  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  cursor: pointer; /* Change cursor to pointer on hover */

  color: #6c6c6c;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;

  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  background-color: white;
}

.search_rec_24_10.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}

/* Group 13 */
.search_group_13 {
  position: absolute;
  width: 158px;
  height: 40px;
  left: 550px;
  top: 210px;
}

/* 1 */

.search_1 {
  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6c6c6c;
}

/* Rectangle 24 */

.search_rec_24_11 {
  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 40px;
  left: 1px;
  top: 1px;

  cursor: pointer; /* Change cursor to pointer on hover */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the text horizontally */
  text-align: center;

  color: #6c6c6c;
  border: 2px solid #6c6c6c;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  background-color: white;
}

.search_rec_24_11.selected {
  background-color: rgb(206, 206, 206); /* 선택된 배경색 설정 */
  color: white; /* 선택된 텍스트 색상 설정 */
}

/* ~ */

.search_wave {
  position: absolute;
  width: 79.83px;
  height: 40px;
  left: 900px;
  top: 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 결과 */

/* .search_result {
  position: absolute;
  width: 1713px;
  height: 504px;
  left: 100px;
  top: 500px;
} */

/* 결과 */
.search_result_1 {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 98px;
  top: 490px;
}

/* Rectangle 26 */

/* .search_rec_26 {
  box-sizing: border-box;

  position: absolute;
  width: 1713px;
  height: 504px;
  left: 1px;
  top: 1px;

  background: #ffffff;
  border: 2px solid #6c6c6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
} */

/* Line 5 */

.search_line_5 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 70px;

  border: 2px solid #6c6c6c;
}
/* Line 7 */

.search_line_7 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 130px;

  border: 2px solid #e3e3e3;
}

/* Line 8 */
.search_line_8 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 190px;

  border: 2px solid #e3e3e3;
}

/* Line 9 */

.search_line_9 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 250px;

  border: 2px solid #e3e3e3;
}

/* Line 10 */
.search_line_10 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 310px;

  border: 2px solid #e3e3e3;
}

/* Line 11 */

.search_line_11 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 370px;

  border: 2px solid #e3e3e3;
}

/* Line 12 */
.search_line_12 {
  position: absolute;
  width: 1709px;
  height: 0px;
  left: 1px;
  top: 430px;

  border: 2px solid #e3e3e3;
}
/* Line 4 */
.search_line_4 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: px;
  top: 250px;

  border: 2px solid #6c6c6c;
  transform: rotate(90deg);
}

/* Line 13 */

.search_line_13 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 250px;
  top: 250px;

  border: 2px solid #6c6c6c;
  transform: rotate(90deg);
}

/* Line 14 */
.search_line_14 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 500px;
  top: 250px;

  border: 2px solid #6c6c6c;
  transform: rotate(90deg);
}

/* Line 15 */

.search_line_15 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 750px;
  top: 250px;

  border: 2px solid #6c6c6c;
  transform: rotate(90deg);
}

/* Line 16 */

.search_line_16 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 1000px;
  top: 250px;

  border: 2px solid #6c6c6c;
  transform: rotate(90deg);
}

/* Line 17 */

.search_line_17 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 1250px;
  top: 250px;

  border: 2px solid #6c6c6c;
  transform: rotate(90deg);
}

/* 번호 */

.search_num {
  /* position: absolute;
  width: 123px;
  height: 36px;
  left: 100px;
  top: 20px; */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* ID */
.search_id {
  position: absolute;
  width: 123px;
  height: 36px;
  left: 360px;
  top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 날짜 */
.search_date {
  position: absolute;
  width: 123px;
  height: 36px;
  left: 600px;
  top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 판정 */

.search_judgment {
  position: absolute;
  width: 123px;
  height: 36px;
  left: 840px;
  top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 결함유형 */
.search_faulty_type {
  position: absolute;
  width: 123px;
  height: 36px;
  left: 1070px;
  top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 카메라 */

.search_camera {
  position: absolute;
  width: 123px;
  height: 36px;
  left: 1330px;
  top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* 상세정보 */

.search_detail {
  position: absolute;
  width: 123px;
  height: 36px;
  left: 1560px;
  top: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.search_result {
  position: absolute;
  width: 1713px;
  height: 500px;
  left: 100px;
  top: 500px;
  background-color: white;
  border-radius: 15px;
}

.search_rec_26 {
  box-sizing: border-box;
  width: 1713px;
  height: 500px;
  border: 2px solid #6c6c6c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  table-layout: fixed; /* 테이블 셀 너비 고정 */
}

.thTd {
  padding: 15px;
  text-align: center;
  /* border-bottom: 1px solid black; /* 아래쪽 테두리 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  align-items: center;
  text-align: center;

  color: #000000;
  width: 14.28%; /* 7개의 셀이 동일한 너비를 가질 수 있도록 설정 */
}

table tbody {
  display: block;
  max-height: 439px;
  overflow-y: scroll;
}

table tbody tr {
  display: table;
  width: 100%;
}

table thead {
  display: table;
  width: 98.65%;
}
table tr {
  border-top: 2px solid #6c6c6c;
  border-bottom: 2px solid #6c6c6c;
}

table td {
  border-left: 2px solid #6c6c6c;
}

table td:first-child {
  border-left: none; /* 첫 번째 td는 border-left 없음 */
}

table th {
  border-left: 2px solid #6c6c6c;
}

table th:first-child {
  border-left: none; /* 첫 번째 td는 border-left 없음 */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 70px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: left;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-image {
  width: 500px;
  height: auto;
  max-width: 500px; /* 최대 너비를 300px로 제한 */
  border-radius: 10px; /* 모서리를 둥글게 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  margin-bottom: 15px; /* 이미지 아래 여백 */
  object-fit: cover;
}

.close-button {
  position: absolute; /* 절대 위치 지정 */
  top: 10px; /* 상단에서 10px 떨어지게 설정 */
  right: 10px; /* 오른쪽에서 10px 떨어지게 설정 */
  width: 30px; /* 버튼 너비 */
  height: 30px; /* 버튼 높이 */
  font-size: 20px; /* X자 크기 */
  padding: 0; /* 내부 여백 제거 */
  background-color: rgb(255, 255, 255); /* 버튼 배경색 */
  color: #c09d9d; /* X자 색상 */
}
